/*Site Features*/
.site-features {
  padding: 50px 0px;
  background-color: #360014;
}
.site-features p {
  color: #773125;
  margin-bottom: 0;
  font-size: 18px;
}
.site-features img {
  margin-bottom: 15px;
}
.site-features .col-md-4:nth-child(1),
.site-features .col-md-4:nth-child(2) {
  border-right: 1px solid #FFF;
}

/*Spectrum*/
.space {
  height: 80px;
}
.sectionTitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 50px;
}
p.welcomeText {
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
}
.spectrumLight img {
  margin-bottom: 10px;
}
.firstSec {
  padding-right: 0;
  text-align: right;
}
.lastSec {
  padding-right: 0px;
}
.lastSec img {
  padding-right: 10px;
}
.spectrumLight {
  background: #F2E5F9;
}
.lightingSound .sectionTitle {
  color: #500E75;
}

/*Aerial Grand*/
.aerialGrand h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.spaceDivider {
  height: 10px;
}
.aerialGrand img{
  width: 100%;
}
.padding-right-zero{
  padding-right: 0;
}
