<div class="container-fluid" style="padding: 0;">
  <video autoplay width="100%" loop>
    <source src="../../assets/Homepage/Festive%20light%20Diwali%20crackers%20offer.mp4" type="video/mp4" />
    Browser not supported
  </video>
</div>

<div class="site-features">
  <div class="container">
    <div class="col-md-4">
      <img src="../../assets/Homepage/Hassle%20free.png" alt="Features 1"/>
      <p>Our Buyer Protection covers</p>
      <p>your purchase from click to delivery.</p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/Homepage/Trusted%20payments.png" alt="Features 1"/>
      <p>Pay with world's most popular and</p>
      <p>secure payment methods.</p>
    </div>
    <div class="col-md-4"><img src="../../assets/Homepage/Premium%20brands.png" alt="Features 1"/>
      <p>Ultimate Fresh stock & Good Quality,</p>
      <p>well Packed</p>
    </div>
  </div>
</div>


<div class="spectrumLight">
  <div class="container">
    <div class="space"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase sectionTitle">Spectrum Light Varieties</h2>
        <p class="welcomeText">Festive light provides a stunning selection of high-quality and safe crackers order now and enjoy.</p>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-6 firstSec">
        <img src="../../assets/Homepage/Marvelous-sparkles.png" alt="Marvelous sparkles" />
      </div>
      <div class="col-md-6 col-xs-12 ">
        <img src="../../assets/Homepage/Amazing-chakkars.png" alt="Amazing Chakkars" />
        <img src="../../assets/Homepage/Glorious-wheels.png" alt="Glorious Wheels" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 firstSec">
        <img src="../../assets/Homepage/Wonderful-nove-fireworks.png" alt="Amazing Chakkars" />
        <img src="../../assets/Homepage/Excellent-Fancy-novelties.png" alt="Glorious Wheels" />
      </div>
      <div class="col-md-6 lastSec">
        <img src="../../assets/Homepage/Fantastic-torches.png" alt="Amazing Chakkars" />
        <img src="../../assets/Homepage/Great-fountains.png" alt="Glorious Wheels" />
      </div>
    </div>
  </div>
</div>


<div class="spectrumLight lightingSound">
  <div class="container">
    <div class="space"></div>
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase sectionTitle">Lighting Sound Varieties</h2>
        <p class="welcomeText">Festive light provides a stunning selection of high-quality and safe crackers order now and enjoy.</p>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-6 firstSec">
        <img src="../../assets/Homepage/Mighty-bomb.png" alt="Marvelous sparkles" />
      </div>
      <div class="col-md-6 col-xs-12 ">
        <img src="../../assets/Homepage/Flashy-sound-cracker.png" alt="Amazing Chakkars" />
        <img src="../../assets/Homepage/Surprising-multifunction.png" alt="Glorious Wheels" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12 firstSec">
        <img src="../../assets/Homepage/Tradition-firecrackers.png" alt="Amazing Chakkars" />
        <img src="../../assets/Homepage/Attractive-confetti.png" alt="Glorious Wheels" />
      </div>
      <div class="col-md-6 lastSec">
        <img src="../../assets/Homepage/Celebration-garland.png" alt="Amazing Chakkars" />
      </div>
    </div>
  </div>
</div>


<div class="space"></div>

<div class="aerialGrand">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="text-uppercase">Aerial Grand Varieties</h2>
          <p class="welcomeText">Festive light provides a stunning selection of high-quality and safe crackers order now and enjoy.</p>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-4 padding-right-zero">
        <img src="../../assets/Homepage/Mighty-rockets.png" alt="" />
      </div>
      <div class="col-md-4 padding-right-zero">
        <img src="../../assets/Homepage/1nd-half-Inch-Aerial_Grand.png" alt="" />
      </div>
      <div class="col-md-4 padding-right-zero">
        <img src="../../assets/Homepage/2-Inch-Aerial_Grand.png" alt="" />
      </div>
    </div>

    <div class="spaceDivider"></div>

    <div class="row">
      <div class="col-md-12 padding-right-zero">
        <img src="../../assets/Homepage/3-inch-Aerial-grand.png" alt="" class="img-responsive"/>
      </div>
    </div>

    <div class="spaceDivider"></div>

    <div class="row">
      <div class="col-md-12 padding-right-zero">
        <img src="../../assets/Homepage/Multiple-Aerial-grand.png" alt="" />
      </div>
    </div>

  </div>
</div>

<div class="space"></div>
